.App {
  text-align: center;
}
.Interface {
  width: 80%;
  margin: 5% 10%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
img {
  width: 100px;
  height: 50px;
}
.Country-List {
  width: 50%;
  border: 1px solid black;
}
.Country-Info {
  width: 50%;
  border: 1px solid black;
}